<!-- tab panes -->

<div id="prod_wrapper">
	<div class="box_highlight" style="margin-top:40px"><h2 style="text-align:center">Planes Turísticos</h2></div>
    <div id="panes">
    	<div>
    		<img src="/assets/galeria/ballena.png" alt="demo" />				
			<h2>Bah&iacute;a Solano (5 días, 4 noches) </h2>
        	<p>Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor nibh a purus aliquam et adipiscing elit gravida. Ut vitae nunc a libero volutpat gravida. Nullam egestas mi sit amet dui scelerisque eu laoreet nisi ultrices. Ut vitae nunc a libero volutpat gravida. Nam tempor nibh a purus aliquam.
    		</p>
    		<p style="text-align:right; margin-right: 16px"><a href="#" class="button">Más información</a> <a href="#" class="button">Reservar</a></p>	
    	</div>
    	<div>
    		<img src="/assets/galeria/lacocha.png" alt="demo" />	
    			<h2>Laguna de La Cocha, Ipiales y Tulcán</h2>
    			<p>Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor nibh a purus aliquam et adipiscing elit gravida. Ut vitae nunc a libero volutpat gravida. Nullam egestas mi sit amet dui scelerisque eu laoreet nisi ultrices. Ut vitae nunc a libero volutpat gravida. Nam tempor nibh a purus aliquam.
    			</p>
    			<p style="text-align:right; margin-right: 16px"><a href="#" class="button">Más información</a> <a href="#" class="button">Reservar</a></p>	
    	</div>
    	<div>   
    		<img src="/assets/galeria/margarita.png" alt="demo" />
    		<h2>Espectaculares vacaciones en Isla Margarita</h2>
    		<p>Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor nibh a purus aliquam et adipiscing elit gravida. Ut vitae nunc a libero volutpat gravida. Nullam egestas mi sit amet dui scelerisque eu laoreet nisi ultrices. Ut vitae nunc a libero volutpat gravida. Nam tempor nibh a purus aliquam.
    		</p>
    		<p style="text-align:right; margin-right: 16px"><a href="#" class="button">Más información</a> <a href="#" class="button">Reservar</a></p>			
    	</div>
    <div>   
    <img src="/assets/galeria/acapulco.jpg" alt="demo" />
    <h2>Ruta Del Sol: Acapulco, México (8 días, 7 noches)</h2>
    <p>Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor nibh a purus aliquam et adipiscing elit gravida. Ut vitae nunc a libero volutpat gravida. Nullam egestas mi sit amet dui scelerisque eu laoreet nisi ultrices. Ut vitae nunc a libero volutpat gravida. Nam tempor nibh a purus aliquam.
    </p>
    <p style="text-align:right; margin-right: 16px"><a href="#" class="button">Más información</a> <a href="#" class="button">Reservar</a></p>			
    </div>
    
    <div>   
    <img src="/assets/galeria/confamiliar.png" alt="demo" />
    <h2>Pasadía en el Eje Cafetero (Centro Confamiliar Pereira)</h2>
    <p>Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor nibh a purus aliquam et adipiscing elit gravida. Ut vitae nunc a libero volutpat gravida. Nullam egestas mi sit amet dui scelerisque eu laoreet nisi ultrices. Ut vitae nunc a libero volutpat gravida. Nam tempor nibh a purus aliquam.
    </p>
    <p style="text-align:right; margin-right: 16px"><a href="#" class="button">Más información</a> <a href="#" class="button">Reservar</a></p>			
    </div>
    
    </div> 

<!-- END tab panes -->


<br clear="all" />


<!-- navigator -->

<div id="prod_nav">
    <ul>
      <li><a href="#1"> <img src="/assets/galeria/ballena.png" width="160" alt="demo" /><strong>Bahía Solano</strong> Desde $ 950.000</a></li>
      <li><a href="#2"><img src="/assets/galeria/lacocha.png" width="160" alt="demo" /><strong>Laguna de La Cocha</strong>Desde $ 277.000</a></li>
      <li><a href="#3"><img src="/assets/galeria/margarita.png" width="160" alt="demo" /><strong>Isla Margarita</strong> Desde $ 1.460.000</a></li>
      <li><a href="#4"><img src="/assets/galeria/acapulco.jpg" width="160" alt="demo" /><strong>Ruta Del Sol</strong> Desde 4.500.000</a></li>
      <li><a href="#5"><img src="/assets/galeria/confamiliar.png" width="160" alt="demo" /><strong>Pasadía en el Eje Cafetero</strong>Desde $ 90.000</a></li>
    </ul>

</div><!-- END navigator -->



</div><!-- END prod wrapper -->

    <div style="clear:both"></div>
    
    
    
    <!--div class="one-third">
      <h2>Business Solutions</h2>
      <p>Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor nibh a purus aliquam et adipiscing elit gravida.</p>
      <p style="text-align:right; margin-right: 15px"><a href="#" class="button_small">Find out more</a></p>
    </div>
    
    <div class="one-third">
       <h2>Become a Partner</h2>
      <p>Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor nibh a purus aliquam et adipiscing elit gravida.</p>
      <p style="text-align:right; margin-right: 15px"><a href="#" class="button_small">Contact Us Today</a></p>
    </div>
    
    <div class="one-third last">
      <h2>Latest News</h2>
      <p>Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor nibh a purus aliquam et adipiscing elit gravida.</p>
      <p style="text-align:right; margin-right: 15px"><a href="#" class="button_small">Read Article</a></p>
    </div>
    
    <div style="clear:both"></div-->
