<div class="wrapper">
	<div class="content">
		<div class="form_wrapper">
			<h3>Nueva divisi&oacute;n territorial pa&iacute;s</h3>
			<%= render 'form' %>
		</div><!--form_wrapper-->
	</div><!--content-->
</div><!--wrapper-->